.main-content {
    max-width: 1200px;
    margin: auto;
    padding: 50px;
    margin-top: 50px;
}

.intro {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.intro-text {
    width: 75%;
}

.intro-image {
    width: 25%;
    display: flex;
    justify-content: center;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: aqua;
}
.intro-image:hover{
    background-color: red;
    box-shadow: 0px 4px 5px rgb(0,0,0,0.1);
    transition: linear 0.3s;
}

.intro-image img {
    max-width: 100%;
    border-radius: 50%;
    border: solid 4px yellowgreen;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.intro-text h1 {
    font-size: 2.7rem;
    color: #ffffff;
    font-weight: bold;
    
}
.projects-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #ff6347;
    text-decoration: none;
    border-radius: 5px;
    border: solid 5px white;
}

.projects-link:hover {
    background-color: #72ff47;
}

.intro-text .blurb {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-top: 20px;
}

.projects-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #ffffff;
    background-color: transparent;
    border: solid 2px green;
    text-decoration: none;
    border-radius: 5px;
}

.projects-link:hover {
    background-color: #72ff47;
}

.social-media-icons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.social-media-icons a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
    border-radius: 50%;
}

.social-media-icons a:hover img {
    transform: scale(1.3);
}
